<div class="container-fluid">
    <div class="d-flex">
      <div class="" style="width: 20%;">
        <div class="flex-shrink-0 p-3 text-white bg-dark vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-5 fw-semibold text-white">Sidebar</span>
          </a>
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn text-white btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                User
              </button>
              <div class="collapse" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 px-4 small ">
                  <li><a routerLink="/adduser" class="text-warning link-dark rounded">Add User</a></li>
                  <li><a routerLink="/userList" class="text-warning link-dark rounded">User List</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn text-white btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Admin
              </button>
              <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 px-4 small ">
                  <li><a href="#" class="text-warning link-dark rounded">admin</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="" style="width: 80%;">
        <nav style="height: 70px; background-color: gray; color: white; font-size: 20px; text-align: center; padding-top: 15px;">
          Angular CRUD Operation
        </nav>
  <router-outlet />

      </div>
    </div>
  </div>
  
  
